<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#">
        <div class="modal-body">
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="name" id="Name" />
          </div>
          <div class="form-group">
            <label for="Phone">Phone</label>
            <input type="tel" class="form-control" id="Phone" placeholder="Phone" />
          </div>
          <div class="form-group">
            <label for="Age">Age</label>
            <input type="number" class="form-control" id="Age" placeholder="Age" />
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="male" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">Male</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="female" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">Female</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
